<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>My Sounds</ion-title>
</ion-navbar>

<ion-content>
        <ion-list>
            <button danger (click)="getVoiceCommand()">
                <ion-icon name='mic' is-active="false"></ion-icon>
            </button>
            <button ion-item *ngFor="#item of items" (click)="itemTapped($event, item)">
                <!--<ion-icon name="item.icon}}" item-left></ion-icon>-->
                {{item.title}}
                <div class="item-note" item-right>
                    {{item.duration}}
                </div>
            </button>
        </ion-list>
        <div *ngIf="selectedItem" padding>
            <b>{{selectedItem.title}}</b>
        </div>
</ion-content>

