
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Hello Muzik</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <h3>Welcome to your SoundCloud App</h3>

  <p>
    This project is developed in order to test Muzik Sdk which is developed by Garage team(bSharp).
  </p>
  <p>
    this app is developed with Angular 2, Ionic 2, and TypeScript!
  </p>
  <p>
    <button primary menuToggle>Toggle Menu</button>
  </p>

</ion-content>
