﻿<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Plugin Test</ion-title>
</ion-navbar>
<ion-content>

    <p>
        <button (click)="startServer()">
            <ion-icon name='home'></ion-icon>
            Start Server
        </button>
        <button outline (click)="stopServer()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Stop Server
        </button>
        <button outline (click)="getConnectionState()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Connection State
        </button>
    </p>

    <p>
        <button secondary >
            <ion-icon name='people'></ion-icon>
            Accelerometer Sample
        </button>
        <button secondary outline >
            <ion-icon name='paw' is-active="false"></ion-icon>
            Accelerometer DataStream
        </button>
    </p>
    <p>
        <button >
            <ion-icon name='home'></ion-icon>
            AutoPlay Setting
        </button>
        <button outline>
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            set AutoPlay Setting
        </button>
        <button outline (click)="getChargeStatus()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Charge Status
        </button>
    </p>
    <p>
        <button secondary (click)="getBatteryLevel()">
            <ion-icon name='people'></ion-icon>
            Battery Level
        </button>
        <button secondary outline (click)="getBlueToothLocalName()">
            <ion-icon name='paw' is-active="false"></ion-icon>
            Bluetooth LocalName
        </button>
        <!--<ion-label floating>Bluetooth LocalName</ion-label>
        <ion-input type="text" [(ngModel)]="BluetoothLocalName"></ion-input>
        <button secondary outline (click)="setBluetoothLocalName(BluetoothLocalName)">
            <ion-icon name='paw' is-active="false"></ion-icon>
            set Bluetooth LocalName
        </button>-->
    </p>
    <p>
        <button (click)="getSerialNumber()">
            <ion-icon name='home'></ion-icon>
            Serial Number
        </button>
        <button outline (click)="getManufacturer()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Manufacturer
        </button>
        <button outline (click)="getFirmwareVersion()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Firmware Version
        </button>
    </p>
    <p>
        <button secondary (click)="getHardwareVersion()">
            <ion-icon name='people'></ion-icon>
            Hardware Version
        </button>
        <button secondary outline (click)="getMspVersion()">
            <ion-icon name='paw' is-active="false"></ion-icon>
            Msp Version
        </button>
        <button secondary outline (click)="getLibraryVersion()">
            <ion-icon name='paw' is-active="false"></ion-icon>
            Library Version
        </button>
        {{pressedButton}}
    </p>
    <p>
        <button (click)="registerForAllGestures()">
            <ion-icon name='home'></ion-icon>
            Register for All G
        </button>
        <button outline (click)="unregisterForAllGestures()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            unregister All G
        </button>
        <button outline (click)="registerForGesture()">
            <ion-icon name='briefcase' is-active="false"></ion-icon>
            Register G
        </button>
    </p>



</ion-content>

<button fab dark fab-bottom fab-center style="z-index: 999">
    <ion-icon name='heart' is-active="false"></ion-icon>
</button>

<ion-toolbar id="subtle-footer">
</ion-toolbar>