<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Track</ion-title>
</ion-navbar>

<ion-content>
    <div *ngIf="selectedItem" class="selection">
       
       
        <ion-card>

            <ion-item>
                <ion-avatar item-left>
                    <img src={{selectedItem.user.avatar_url}}>
                </ion-avatar>
                <h2>{{selectedItem.user.username}}</h2>
                <p>last modified: {{selectedItem.user.last_modified}}</p>
            </ion-item>

          
            <iframe id="widget3" width="100%" height="auto" scrolling="no" frameborder="1" src= {{src}}></iframe>
           
            <ion-item>
                <button primary clear item-left>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{selectedItem.favoritings_count}}</div>
                </button>
                <button primary clear item-left>
                    <ion-icon name="text"></ion-icon>
                    <div>{{selectedItem.comment_count}} Comments</div>
                </button>
                <br/>
                <ion-note item-right *ngIf="selectedItem.download_url">
                   download url:<br/>{{selectedItem.download_url}}
                </ion-note>
            </ion-item>
            <ion-item>
                <div>
                    title: {{selectedItem.title}}
                    <div *ngIf="selectedItem.genre">genre: {{selectedItem.genre}}</div>
                </div>
                <input type="button" name="name" value="getInfo" (click)="getInfo()" />
            </ion-item>
        </ion-card>
       
    </div>
</ion-content>
   